ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
#wrap, .inner-logo-block {
	-webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
	-moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
	transition: background .5s ease-in-out, padding .5s ease-in-out; 
}

.inner-logo-block { height:82px; }

.sticky {
	position: fixed;
	background: #fff;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
.inner-logo-block.sticky { height:auto; }
.inner-logo-block.sticky .menu-sign-up ul li { padding:30px 25px; }


.hp-banner {
	font-family: 'Raleway', sans-serif; /*background:url(../images/banner-index.jpg) top left no-repeat; min-height:581px; background-size:100% auto; */
	position: relative;
	overflow: hidden;
	padding-bottom: 85px;
}
.hp-banner .owl-theme .owl-controls {
	position: absolute;
	bottom: 15px;
	width: 100%;
}
.hp-banner .owl-theme .owl-controls .owl-page span {
	border-radius: 0;
	background: #fff;
	opacity: 10;
}
.hp-banner .owl-theme .owl-controls .owl-page.active span {
	border: 2px solid #fff;
	background: #02caff;
	height: 17px;
	width: 17px;
	position: relative;
	top: 2px;
}
.home-page-slider {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
}
.home-page-slider img {
	width: 100%;
}
.hp-logo {
	margin: 0 auto 30px;
	display: table;
}
.hp-rent {
	margin: 0 auto;
	display: table;
	text-align: center;
}
.hp-rent h2 {
	color: #000;
	font-size: 132px;
	text-transform: uppercase;
	font-weight: 900;
	line-height: 115px;
	margin: 0;
	padding: 0;
}
.hp-rent p {
	color: #000;
	font-size: 34px;
	font-weight: 400;
	margin: 0;
	padding: 0 0 10px;
}
.hp-rent a {
	color: #02caff;
	font-size: 20px;
	font-weight: 200;
	background: #000;
	display: inline-block;
	padding: 15px 60px;
	text-transform: uppercase;
	border-radius: 50px;
	font-family: 'Roboto Condensed', sans-serif;
}
.hp-rent a:hover {
	text-decoration: none;
	color: #fff;
}
.hp-btn-place {
	background-color: rgba(255, 255, 255, 0.3);
	max-width: 1140px;
	margin: 20px auto 0;
	overflow: hidden;
	padding: 20px;
}
.hp-btn-block {
	width: 19.5%;
	float: left;
	margin-right: 5px;
}
.select-box {
	width: 100%;
	position: relative;
}
.select-box:after {
	background: url(../images/select-pointer.jpg) top right;
	width: 28px;
	height: 42px;
	content: "";
	position: absolute;
	right: 0;
	pointer-events: none;
	top: 0;
}
.select-box select {
	background: #fff;
	width: 100%;
	height: 42px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 0;
	color: #000;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 0 10px;
}
.select-box-submit {
	width: 18%;
	float: right;
}
.select-box-submit input[type="submit"] {
	background: #02caff;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	border: 0;
	height: 42px;
	text-align: center;
	width: 100%;
}
.select-box-submit input[type="submit"]:hover {
	background: #000;
}
.reset_btn {
	background: #02caff;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	border: 0;
	height: 42px;
	text-align: center;
	width: 100%;
	display: block;
	line-height: 43px;
}
.reset_btn:hover {
	background: #000;
	color: #fff;
}
.menu-sign-up {
	position: absolute;
	top: 0;
}

@media (min-width:768px) {
.menu-sign-up {
	right: 0;
}
}
.menu-sign-up ul {
}
.menu-sign-up ul li {
	list-style: none;
	margin: 0;
	padding: 30px 25px;
	float: left;
}
.menu-sign-up ul li a {
	color: #000;
	display: inline-block;
	vertical-align: middle;
	padding-left: 6px;
	text-transform: uppercase;
	font-size: 13px;
}
.menu-sign-up ul li:hover {
	background: #000;
	color: #fff;
}
.menu-sign-up ul li:hover a {
	color: #fff;
}
.menu-sign-up ul li.on {
	background: #000;
	color: #fff;
}
.menu-sign-up ul li.on a {
	color: #fff;
}
.icon-1 {
	background: url(../images/hp-sign-icon.png) no-repeat 0 0;
	color: #000;
	width: 18px;
	height: 18px;
	display: inline-block;
	vertical-align: middle;
}
.menu-sign-up ul li:hover .icon-1, .menu-sign-up ul li.on .icon-1 {
	background: url(../images/hp-sign-icon.png) no-repeat 0 -16px;
	width: 18px;
	height: 18px;
}
.icon-2 {
	background: url(../images/hp-sign-icon.png) no-repeat -19px 1px;
	color: #000;
	width: 18px;
	height: 18px;
	display: inline-block;
	vertical-align: middle;
}
.menu-sign-up ul li:hover .icon-2, .menu-sign-up ul li.on .icon-2 {
	background: url(../images/hp-sign-icon.png) no-repeat -19px -16px;
	width: 18px;
	height: 18px;
}
.catagory-content {
	background: #f6f6f6;
	padding: 45px 0;
}
.catagory-content h2 {
	color: #000;
	font-size: 40px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-weight: 500;
	position: relative;
	margin: 0 0 40px 0;
	padding: 0 0 15px 0;
}
.catagory-content h2:after {
	border-bottom: 4px solid #02caff;
	content: "";
	position: absolute;
	bottom: 0;
	left: 47%;
	width: 80px;
	bottom: 0;
}
.catagory-content ul {
	display: flex;
}
.catagory-content li {
	float: left;
	width: 16%;
	margin-right: 10px;
	text-align: center;
	background: #fff;
	border: 1px solid #eeeded;
	font-family: 'Roboto Condensed', sans-serif;
	padding: 20px 0;
}
.catagory-content li img {
	margin-bottom: 10px;
}
.catagory-content li a {
	color: #000;
	font-size: 18px;
}
.catagory-content li a:hover {
	color: #02caff;
	text-decoration: none;
}
.catagory-content li:last-child {
	margin-right: 0;
}
.featured-listing {
	padding: 45px 0;
}
.featured-listing h2 {
	color: #000;
	font-size: 40px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-weight: 500;
	position: relative;
	margin: 0 0 40px 0;
	padding: 0 0 15px 0;
}
.featured-listing h2:after {
	border-bottom: 4px solid #02caff;
	content: "";
	position: absolute;
	bottom: 0;
	left: 47%;
	width: 80px;
	bottom: 0;
}
.featured-listing .grid-item {
	float: left;
}
.featured-listing .grid-item img {
	width: 100%;
}
.featured-listing .grid-sizer, .featured-listing .grid-item--width2 {
	width: 33%;
}
.featured-listing .grid-item--height2 {
	/* width: 31%; */
	margin-left: 2%;
	margin-bottom: 2%;
}
.fl-mid {
}
.grid-item img {
	width: 100%;
}
.grid-item.grid-item--width2 {
	height: 476px;
	overflow: hidden;
}
.new-product01 {
	border: 5px solid rgba(255, 255, 255, 0.3);
	width: 185px;
	height: 185px;
	border-radius: 50%;
	position: absolute;
	top: 30px;
	left: 50%;
	overflow: hidden;
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	z-index: 1;
}
.new-product01-mid {
	background: #02caff;
	width: 100%;
	height: 100%;
	text-align: center;
	width: 185px;
	height: 185px;
	border-radius: 50%;
	display: table-cell;
	vertical-align: middle;
}
.text-npm1 {
	font-size: 16px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	display: block;
	text-transform: uppercase;
}
.text-npm2 {
	font-size: 24px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	display: block;
	font-weight: 500;
	text-transform: uppercase;
}
.text-npm3 {
	font-size: 30px;
	color: #000;
	font-family: 'Roboto Condensed', sans-serif;
	display: block;
	font-weight: 500;
	text-transform: uppercase;
}
.new-product02 {
    margin: 15px 0 0;
}
.new-product02-mid {
	background: #02caff;
	width: 100%;
	height: 100%;
	text-align: center;
	width: 115px;
	height: 115px;
	border-radius: 50%;
	display: table-cell;
	vertical-align: middle;
}
.text-npm1-1 {
	font-size: 9px;
	color: #02CAFF;
	font-family: 'Raleway', sans-serif;
	display: block;
	text-transform: uppercase;
}
.text-npm2-1 {
	font-size: 18px;
	color: #02CAFF;
	font-family: 'Raleway', sans-serif;
	display: block;
	font-weight: 500;
	text-transform: uppercase;
}
.text-npm3-1 {
	font-size: 17px;
	color: #000;
	font-family: 'Roboto Condensed', sans-serif;
	display: block;
	font-weight: 500;
	text-transform: uppercase;
}
.new-product03 {
	border: 5px solid rgba(255, 255, 255, 0.3);
	width: 115px;
	height: 115px;
	border-radius: 50%;
	position: absolute;
	top: 30px;
	/* left: 20px; */
	overflow: hidden;
	z-index: 1;
}
.new-product03-mid {
	background: #000;
	width: 100%;
	height: 100%;
	text-align: center;
	width: 115px;
	height: 115px;
	border-radius: 50%;
	display: table-cell;
	vertical-align: middle;
}
.text-npm1-2 {
	font-size: 9px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	display: block;
	text-transform: uppercase;
}
.text-npm2-2 {
	font-size: 14px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	display: block;
	font-weight: 500;
	text-transform: uppercase;
}
.text-npm3-2 {
	font-size: 17px;
	color: #02caff;
	font-family: 'Roboto Condensed', sans-serif;
	display: block;
	font-weight: 500;
	text-transform: uppercase;
}
.recommended {
	padding: 45px 0 60px;
	background: #f6f6f6;
}
.recommended h2 {
	color: #000;
	font-size: 40px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-weight: 500;
	position: relative;
	margin: 0 0 40px 0;
	padding: 0 0 15px 0;
}
.recommended h2:after {
	border-bottom: 4px solid #02caff;
	content: "";
	position: absolute;
	bottom: 0;
	left: 47%;
	width: 80px;
	bottom: 0;
}
.owl-content {
	padding: 0 10px;
	position: relative;
}
.owl-content img {
	width: 100%;
}

@media (min-width:768px) {
.recommended .customNavigation {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translatey(-50%);
	-moz-transform: translatey(-50%);
	-webkit-transform: translatey(-50%);
}
.fleft {
	float: left!important
}
.fright {
	float: right!important
}
}
.recommended .customNavigation a.prev {
	background: #000;
	position: absolute;
	left: -30px;
	border-radius: 0;
	font-size: 22px;
	padding: 2px 10px;
	cursor: pointer;
}
.recommended .customNavigation a.next {
	background: #000;
	position: absolute;
	right: 0;
	border-radius: 0;
	font-size: 22px;
	padding: 2px 10px;
	cursor: pointer;
}
.recommended .customNavigation a:hover {
	text-decoration: none;
}
.download-app {
	padding-top: 50px;
}
.image-app {
	margin: 0 auto;
	display: table;
}
.app-icon {
	margin: 0 auto;
	display: table;
}
.app-text h2 {
	color: #02caff;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 48px;
	font-weight: 700;
}
.app-text p {
	color: #000;
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	padding: 50px 0;
}
.footer-box {
	background: url(../images/footer.jpg) no-repeat;
	min-height: 149px;
	background-size: 100% auto;
	padding: 40px 0;
}
.footer-logo {
	padding-bottom: 30px;
}
.footer-heading {
	color: #02caff;
	font-size: 18px;
	font-family: 'Fira Sans', sans-serif;
	padding-bottom: 15px;
	position: relative;
	padding-left: 35px;
}
.footer-heading:after {
	content: "";
	border-bottom: 2px solid #fff;
	width: 30px;
	position: absolute;
	top: 9px;
	left: 0;
}
.footer-text p {
	color: #fff;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
}
.ci-image {
	display: table-cell;
	vertical-align: top;
}
.ci-text {
	display: table-cell;
	padding-left: 10px;
	vertical-align: middle;
}
.contact-info p {
	color: #fff;
	font-size: 16px;
	font-family: 'Fira Sans', sans-serif;
	text-transform: uppercase;
	font-weight: 200;
}
.contact-info a {
	color: #02caff;
	font-size: 16px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 200;
	text-transform: lowercase;
}
.contact-info address {
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	font-family: 'Fira Sans', sans-serif;
}
.usefull-link {
	width: 48%;
	float: left;
	margin-bottom: 20px;
}
.usefull-link li a {
	color: #fff;
	font-size: 16px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 200;
}
.connect-with-us {
	width: 48%;
	float: right;
}
.connect-with-us li a {
	color: #fff;
	font-size: 16px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 200;
}
.connect-with-us li a img {
	vertical-align: middle;
}
.usefull-link li, .connect-with-us li {
	padding-bottom: 6px;
}
.how-it-work {
	background: #02caff;
	min-height: 200px;
	padding: 50px;
}
.how-it-work h2 {
	color: #000;
	font-size: 40px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-weight: 700;
	position: relative;
	margin: 0 0 40px 0;
	padding: 0 0 15px 0;
}
.how-it-work h2:after {
	border-bottom: 4px solid #fff;
	content: "";
	position: absolute;
	bottom: 0;
	left: 47%;
	width: 80px;
	bottom: 0;
}
.step-block {
}
.step-block img {
	width: 100%;
}
.step-block h3 {
	color: #000;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	margin: 0;
	padding: 0;
	font-weight: 500;
}
.step-block p {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	padding: 20px 0;
}
.step-01, .step-02, .step-03, .step-04, .step-05, .step-06 {
	text-align: center;
}
.step-01 img {
	padding: 0 0 20px;
}
.step-02 img {
	padding: 0 0 20px;
}
.step-03 img {
	padding: 0 0 20px;
}
.step-04 img {
	padding: 0 0 20px;
}
.step-05 img {
	padding: 0 0 20px;
}
.step-06 img {
	padding: 0 0 20px;
}
.step-ar-01 {
	position: absolute;
	right: 0;
	top: 65%;
	transform: translateY(-65%);
	-moz-transform: translateY(-65%);
	-wbkit-transform: translateY(-65%);
}
.step-ar-02 {
	position: absolute;
	right: 0;
	top: 35%;
	transform: translateY(-35%);
	-moz-transform: translateY(-35%);
	-wbkit-transform: translateY(-35%);
}
.step-ar-03 {
	position: absolute;
	right: 0;
	top: 65%;
	transform: translateY(-65%);
	-moz-transform: translateY(-65%);
	-wbkit-transform: translateY(-65%);
}
.step-ar-04 {
	position: absolute;
	right: -40px;
	top: -25px;
}
.step-ar-05 {
	text-align: center;
}
.step-ar-05 img {
	width: auto;
}
/*--inner-page--*/
.about-us-block {
	background: #f6f6f6;
	padding: 60px 0;
}
.about-us-top-text {
	text-align: center;
}
.about-us-top-text h2 {
	color: #fff;
	font-size: 75px;
	font-weight: 900;
	line-height: 115px;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
.about-us-top-text p {
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	margin: 0;
	padding: 0 0 10px;
}
.inner-logo {
	position: relative;
	top: 5px;
}
.inner-logo img {
	width: 100%;
}
.inner-logo-block .navbar-nav > li > a {
	font-size: 13px;
}
.title-inner {
	color: #000;
	font-size: 30px;
	font-family: 'Fira Sans', sans-serif;
	padding-bottom: 15px;
	position: relative;
	padding-left: 80px;
	text-transform: uppercase;
}
.title-inner:after {
	content: "";
	border-bottom: 2px solid #02caff;
	width: 70px;
	position: absolute;
	top: 37%;
	left: 0;
}
.read-more {
	-moz-user-select: none;
	border-radius: 0;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.075em;
	line-height: 19px;
	min-width: 132px;
	overflow: hidden;
	padding: 8px 20px;
	position: relative;
	text-align: center;
	text-overflow: ellipsis;
	text-transform: uppercase;
	transition: all 250ms ease-in-out 0s;
	vertical-align: middle;
	white-space: nowrap;
	color: #000;
}
.read-more:hover {
	background-color: #212020;
	border-color: #212020;
	color: #fff;
}
.no-touch {
	padding: 2px 0;
}
.title-inner-text {
	color: #000;
	font-size: 15px;
	font-family: 'Fira Sans', sans-serif;
	padding-bottom: 25px;
	position: relative;
	font-weight: 200;
	margin-bottom: 25px;
}
.testimonials {
	padding: 50px 0;
}
.global-title h2 {
	color: #000;
	font-size: 40px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-weight: 500;
	position: relative;
	margin: 0 0 40px 0;
	padding: 0 0 15px 0;
}
.global-title h2:after {
	border-bottom: 4px solid #02caff;
	content: "";
	position: absolute;
	bottom: 0;
	left: 47%;
	width: 80px;
	bottom: 0;
}
.about-us-block img {
	width: 100%;
}
.testimonal-text {
	border: 5px solid #ddd;
	margin: 0 auto;
	width: 65%;
	padding: 25px;
}
.faq-white {
	padding: 50px 0;
}
.faq-inner-text {
	color: #000;
	font-size: 15px;
	font-family: 'Fira Sans', sans-serif;
	padding-bottom: 25px;
	position: relative;
	font-weight: 200;
}
.faq-block, .about-us-black {
	background: #000;
	padding: 100px 0;
}
.faq-block .about-us-top-text {
	margin-bottom: 0;
}
.faq-block .about-us-top-text h2 {
	color: #fff;
}
.faq-block .about-us-top-text p {
	color: #fff;
}
.faq-white .panel-title a {
	color: #000;
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
	position: relative;
	font-weight: 500;
	text-transform: uppercase;
}
.faq-white .panel-title a:hover {
	text-decoration: none;
}
.faq-white .panel-body p {
	color: #000;
	font-size: 15px;
	font-family: 'Fira Sans', sans-serif;
	position: relative;
	font-weight: 200;
}
.faq-white .panel-group {
	width: 65%;
	margin: 0 auto 50px;
}
.about-team {
	background: #fff;
	padding: 15px;
}
.testimonials .item {
	background: #f6f6f6;
	padding: 25px;
}
.global-title p {
	color: #000;
	text-align: center;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	position: relative;
	font-weight: 300;
	padding-bottom: 40px;
}
.team-image {
	border: 1px solid #ddd;
}
.team-image img {
	width: 100%;
}
.team-text {
	color: #000;
	font-size: 15px;
	font-family: 'Fira Sans', sans-serif;
	padding-right: 25px;
	position: relative;
	font-weight: 200;
}
.team-text h3 {
	margin: 0;
	padding: 0;
}
.team-text h4 {
	margin: 0;
	padding: 10px 0;
	font-size: 15px;
	font-family: 'Roboto Condensed', sans-serif;
}
.google-map {
	border: 5px solid #ddd;
	margin-bottom: 40px;
}
.contact-us {
	background: #f3f3f3;
	padding: 50px 0;
}
.white-container {
	background: #ffffff none repeat scroll 0 0;
	border-radius: 0;
	margin-bottom: 30px;
	padding: 20px 30px;
}
.white-container p a {
	color: #000;
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
}
.widget .widget-title {
	border-bottom: 1px solid #e6e6e6;
	font-size: 19px;
	font-weight: 600;
	margin: 0 0 20px;
	padding-bottom: 15px;
	text-transform: uppercase;
}
.contact-banner {
	background-image: url(../images/contact.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.footer-bottom-menu ul {
}
.footer-bottom-menu li {
	float: left;
	margin-right: 10px;
}
.footer-bottom-menu li a {
	color: #02caff;
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 200;
}
.footer-bottom-menu p {
	color: #777676;
	font-size: 13px;
	text-transform: uppercase;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 200;
	padding: 10px 0 0;
}
.footer-bottom-menu p a {
	color: #fff;
	font-size: 13px;
	font-weight: 500;
}
.pay-pal {
	text-align: center;
}
.image-effect {
	overflow: hidden;
}
.image-effect img {
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0) scale(1);
	-ms-transform: translate3d(0, 0, 0) scale(1);
	transform: translate3d(0, 0, 0) scale(1);
	-webkit-transition: -webkit-transform .2s ease-out;
	-ms-transition: -ms-transform .2s ease-out;
	transition: transform .2s ease-out;
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
	overflow: hidden
}
.image-effect:hover img {
	-webkit-transform: translate3d(0, 0, 0) scale(1.05);
	-ms-transform: translate3d(0, 0, 0) scale(1.05);
	transform: translate3d(0, 0, 0) scale(1.05);
	-webkit-transition: -webkit-transform .4s ease-out;
	-ms-transition: -ms-transform .4s ease-out;
	transition: transform .4s ease-out
}
/*LogIn-page*/

.log-in-block {
	background: #f6f6f6;
	min-height: 150px;
	padding: 50px 0;
}
.ls-in-title h2 {
	color: #000;
	font-size: 40px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-weight: 700;
	position: relative;
	margin: 0 0 40px 0;
	padding: 0 0 15px 0;
}
.ls-in-title h2:after {
	border-bottom: 4px solid #02caff;
	content: "";
	position: absolute;
	bottom: 0;
	left: 47%;
	width: 65px;
	bottom: 0;
}
.ls-box {
	background: #fff;
	padding: 55px 20px 35px;
	border: 1px solid #eeeded;
	border-top: 0;
}
.ls-in-tab .nav-tabs > li.active > a, .ls-in-tab .nav-tabs > li.active > a:hover, .ls-in-tab .nav-tabs > li.active > a:focus {
	background: #02caff;
	color: #fff;
	border: 0;
	font-weight: 400;
}
.ls-in-tab .nav-tabs > li > a {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 700;
	background-color: #ebebeb;
	color: #000;
	border: 0;
	border-radius: 0;
	padding: 13px 55px;
}
.nav-tabs > li {
	margin-bottom: 0;
}
.ls-in-tab .nav-tabs {
	border-bottom: 2px solid #02caff;
}
.ls-input-text {
	padding-left: 40px;
}
.ls-input-text label {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #000;
	height: 42px;
	line-height: 42px;
	margin: 0;
	padding: 0;
}
.ls-input-level input[type="text"], .ls-input-level input[type="password"] {
	border: 1px solid #ececec;
	background: #f6f6f6;
	height: 42px;
	line-height: 42px;
	border-radius: 20px;
}
.ls-submit {
	margin-top: 15px;
}
.ls-input-level input[type="submit"] {
	border: 0;
	color: #02caff;
	font-size: 18px;
	font-weight: 400;
	background: #000;
	display: inline-block;
	padding: 9px 60px;
	border-radius: 50px;
	font-family: 'Raleway', sans-serif;
}
.ls-input-level input[type="submit"]:hover {
	background: #02caff;
	color: #fff;
}
.ls-input-level input[type="button"] {
	border: 0;
	color: #02caff;
	font-size: 18px;
	font-weight: 400;
	background: #000;
	display: inline-block;
	padding: 9px 60px;
	border-radius: 50px;
	font-family: 'Raleway', sans-serif;
}
.ls-input-level input[type="button"]:hover {
	background: #02caff;
	color: #fff;
}
.remember-me {
	background: url(../images/check-box-img.png) no-repeat 0px 7px;
	width: 21px;
	height: 21px;
	padding-bottom: 30px;
	padding-left: 30px;
	line-height: 21px;
	margin-top: 5px;
	font-family: 'Raleway', sans-serif;
	color: #000;
	font-weight: 500;
	font-size: 18px;
}
.remember-me.active {
	background: url(../images/check-box-img-tick.png) no-repeat 0px 7px;
}
.forget-password {
}
.forget-password a {
	color: #02caff;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 18px;
}
.forget-password a:hover {
}
.social-login {
}
.social-login ul {
}
.social-login ul li {
	margin-bottom: 20px;
}
.social-login ul li:hover {
	opacity: 0.8;
}
.social-login ul li img {
	width: 100%;
}
.or-box {
	background: #02caff;
	height: 60px;
	line-height: 60px;
	width: 60px;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 18px;
	margin-top: 45px;
}
.dont-have p {
	font-family: 'Raleway', sans-serif;
	color: #000;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	margin: 0;
	padding: 50px 0 0;
}
.dont-have p a {
	color: #02caff;
}
.sign-up-block {
	background: #f6f6f6;
	min-height: 150px;
	padding: 50px 0;
}
.ren-own-block {
	background: #fff;
	padding: 35px 20px 35px;
	border: 1px solid #eeeded;
	position: relative;
	margin-top: 55px;
}
.ren-own-block h3 {
	font-family: 'Raleway', sans-serif;
	color: #02caff;
	font-weight: 500;
	font-size: 18px;
	margin: 0;
	padding: 0;
}
.ren-own-block ul {
	padding-top: 20px;
}
.ren-own-block li {
	background: url(../images/radio-rent-own.png) no-repeat 0 8px;
	line-height: 28px;
	padding-left: 23px;
	margin-bottom: 20px;
	font-family: 'Raleway', sans-serif;
	color: #000;
	font-weight: 500;
	font-size: 14px;
}
.ren-own-block li a {
	font-family: 'Raleway', sans-serif;
	color: #000;
	font-weight: 500;
	font-size: 18px;
}
.owner-icon {
	background: #02caff;
	padding: 0 25px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 20px;
	position: absolute;
	top: -40px;
	left: 0;
	display: inline-block;
	height: 39px;
	line-height: 39px;
}
.owner-icon:after {
	background: url(../images/owner.png) no-repeat;
	width: 30px;
	height: 39px;
	content: "";
	position: absolute;
	right: -30px;
	top: 0;
}
.renter-icon {
	background: #000;
	padding: 0 25px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 20px;
	position: absolute;
	top: -40px;
	left: 0;
	display: inline-block;
	height: 39px;
	line-height: 39px;
}
.renter-icon:after {
	background: url(../images/renter.png) no-repeat;
	width: 30px;
	height: 39px;
	content: "";
	position: absolute;
	right: -30px;
	top: 0;
}
.own-ren a {
	border: 0;
	color: #02caff;
	font-size: 16px;
	font-weight: 400;
	background: #000;
	display: inline-block;
	padding: 9px 40px;
	border-radius: 50px;
	font-family: 'Raleway', sans-serif;
}
.own-ren a:hover {
	background: #02caff;
	color: #000;
	text-decoration: none;
}
.sign-up-form-block {
	background: #f6f6f6;
	min-height: 150px;
	padding: 50px 0;
}
.sufb-from {
	background: #fff;
	border-top: 2px solid #02caff;
	padding: 30px 20px 23px;
}
.cnf-pass label {
	line-height: 20px;
	position: relative;
	top: 5px;
}
.sp-m {
	margin-top: 15px;
}
.sp-tm {
	margin-top: 16px;
}
.feature-block {
	background: #02caff;
	padding: 30px 55px;
}
.feature-title h2 {
	color: #fff;
	font-size: 28px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	position: relative;
	margin: 0 0 40px 0;
	padding: 0 0 15px 0;
	text-align: left;
}
.feature-title h2:after {
	border-bottom: 4px solid #000;
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 65px;
	bottom: 0;
}
.feature-block ul {
	padding-top: 0px;
}
.feature-block li {
	background: url(../images/su-f-icon.png) no-repeat 0 8px;
	line-height: 28px;
	padding-left: 35px;
	margin-bottom: 20px;
	font-family: 'Raleway', sans-serif;
	color: #000;
	font-weight: 500;
	font-size: 14px;
}
textarea, select, input[type="text"], input[type="button"], input[type="submit"] {
	/* -webkit-appearance: none; */
	border-radius: 0;
	outline: 0;
}
.pf-sc {
	padding-top: 40px;
}
/*-22-05-2017-*/
.step-process {
	position: relative;
	background: #fff;
	padding-top: 25px;
}
.step-sign-signup {
}
.step-ss-input-text label {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 500;
	color: #000;
	height: 42px;
	line-height: normal;
	margin: 7px 0 0;
	padding: 0;
}
.step-ss-input-text label span {
	font-size: 20px;
	font-weight: 700;
	position: relative;
	left: -2px;
	top: 4px;
}
.step-ss-input-level input[type="text"], .step-ss-input-level input[type="password"] {
	border: 1px solid #ececec;
	background: #f6f6f6;
	height: 42px;
	line-height: 42px;
	border-radius: 20px;
}
.step-ss-input-level input[type="submit"] {
	border: 0;
	color: #02caff;
	font-size: 18px;
	font-weight: 400;
	background: #000;
	display: inline-block;
	padding: 9px 60px;
	border-radius: 50px;
	font-family: 'Raleway', sans-serif;
}
.step-ss-input-level input[type="submit"]:hover {
	background: #02caff;
	color: #fff;
}
.upload-picture-box {
	border: 1px solid #ddd;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	overflow: hidden;
	display: table;
	margin: 0 auto 10px;
	width: 102px;
	height: 95px;
}
.upload-picture-box img {
	width: 100%;
}
.uploadfile-type-edit .btn-default {
	border: 1px solid #ececec;
	width: 100%;
	background-color: #f6f6f6;
	padding: 0 20px;
	border-radius: 20px;
}
.uploadfile-type-edit .input-group {
	width: 100%;
}
.uploadfile-type-edit .btn-default:hover {
	background-color: transparent;
}
.uploadfile-type-edit .glyphicon {
	padding-right: 5px;
}
.uploadfile-type-edit .group-span-filestyle {
	padding-right: 0;
}
.uploadfile-type-edit label {
	height: 42px;
	line-height: 42px;
	font-size: 14px;
	font-weight: 400;
	color: #000;
}
.uploadfile-type-edit .form-control {
	height: 42px;
	line-height: 42px;
	border: 1px solid #ececec;
}
.step-ss-textarea textarea {
	border: 1px solid #ececec;
	background: #f6f6f6;
	height: 95px;
	border-radius: 20px;
	width: 100%;
	padding: 10px 20px;
	resize: none;
}
.step-ss-select .btn-default {
	border: 1px solid #ececec;
	width: 100%;
	background-color: #f6f6f6;
	padding: 0 25px;
	border-radius: 20px;
	height: 42px;
	line-height: 42px;
	font-size: 18px;
	font-weight: 400;
	color: #000;
}
.refrence-block input {
	margin-bottom: 10px;
}
.refrence-block h2 {
	margin: 0;
	padding: 0;
	font-size: 15px;
	margin-bottom: 10px;
}
.physical-limit .remember-me {
	width: auto;
}
.mandatory {
	color: #FF0004;
	font-size: 24px!important;
	font-weight: 700!important;
}
.no-content {
	background: #fff;
	padding: 25px 0;
}
.congratulation {
	margin: 0 auto;
	max-width: 40%;
	text-align: center;
	text-align: justify;
}
.congratulation h2 {
	text-align: center;
}
.congrats-circle {
	width: 200px;
	height: 200px;
	line-height: 180px;
	text-align: center;
	font-size: 30px;
	border-radius: 50%;
	border: 15px solid #ddd;
	margin: 40px auto;
	color: #fff;
	background: #073264;
}
.congratulation {
	max-width: 90%;
}

.gap-60 {
	margin-top: 60px;
}
#cat_slider li {
	width: 94%;
}
.navbar-static-top {
	z-index: 999;
}
.city_srch {
	background: #fff;
	width: 100%;
	height: 42px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 0;
	color: #000;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 0 10px;
}
.home-search-field .hp-btn-block {
	width: 26.77%;
}
.adv-search-field .hp-btn-block {
	margin-bottom: 5px;
}
.adv-search-field .select-box-submit {
	margin-bottom: 5px;
}
.adv-search-field .checkbox {
	background: #fff none repeat scroll 0 0;
	margin: 0;
	padding: 9px 10px;
}
.adv-search-field .hp-btn-place {
	background: rgba(0,0,0,0.05);
}
/*--07-07-2017*/
.make-offer .sp-m {
	margin: 0;
}
.make-offer .scb2-btn {
	float: left;
}
.make-offer-table h3 {
	font-size: 20px;
	font-weight: 600;
	margin: 0 0 20px;
	text-transform: uppercase;
	color: #000;
}
.make-offer-table th {
	font-weight: 600;
	color: #000;
}
.make-offer-table .table {
	border: 1px solid #ddd;
}
.make-offer-table .table th, td {
	padding: 10px 15px;
	border-right: 1px solid #ddd;
}
.offer-price-box input[type="text"] {
	width: 80%;
	float: left;
}
.offer-price-box #prv_price {
	width: 18%;
	float: right;
	background: #02caff;
	color: #fff;
	height: 42px;
	line-height: 42px;
	text-align: center;
	border-radius: 20px;
	position: relative;
}
.offer-price-box #prv_price:after {
	content: "/";
	position: absolute;
	top: 0;
	left: -9px;
	color: #000;
	font-size: 26px;
}
.list_data span.tag-line {
	right: 15px;
	top: 25px;
}
.list_data .product-img2 img {
	float: left;
	left: 5px;
	margin: 0;
}
.list_data .product-img2 {
	overflow: hidden;
	width: 25%;
	min-height: 190px;
}
.list_data .fst-product h5 {
	font-size: 24px;
	font-weight: 300;
	margin: 0;
	padding: 0 0 15px;
}
.list_data .fst-product p {
	margin: 14px 0 0;
}
.list_data .label-success {
	background-color: #5cb85c;
	padding: 10px;
	display: inline-block;
	margin: 14px 0 0;
	font-size: 18px;
	font-weight: 300;
	float: left;
	width: 30%;
}
.list_data .cart-box {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	right: 30px;
	width: auto;
}
.list_data .cart-box p {
}
.list_data .cart-box a {
	font-size: 13px;
	padding: 0;
	border-radius: 50%;
	width: 90px;
	text-align: center;
	height: 90px;
	line-height: 90px;
	cursor: default;
}
.list_data .cart-box a:hover {
	background: #02caff;
}
.list_data .fst-product h4 {
	width: 38%;
	margin-top: 13px;
	background: #ddd;
	padding: 9px;
	color: #000;
	text-align: center;
	font-weight: 300;
	text-transform: uppercase;
	border-radius: 5px;
	border: 1px solid #DC9;
}
.grid_data .cart-box {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 12px;
	left: 22px;
	width: auto;
	border: 0;
}
.grid_data .cart-box p {
}
.grid_data .cart-box a {
	font-size: 11px;
	padding: 0;
	border-radius: 50%;
	width: 70px;
	text-align: center;
	height: 70px;
	line-height: 70px;
	cursor: default;
}
.grid_data .cart-box a:hover {
	background: #02caff;
}


.owner-table-box {}

.owner-table-box .alert { margin-bottom:5px;}
.owner-table-box .fa { margin-right:5px; font-size:23px; }
.owner-table-box .alert-success { font-weight:600; text-transform:uppercase; }

/*Media Querry*/

@media (max-width:1365px) {
.app-icon img {
	width: 100%;
}
.hp-banner {
	min-height: 100px;
}
.footer-box {
	background-size: cover;
}
}

@media (min-width:992px) and (max-width:1199px) {
.navbar-default .navbar-nav > li > a {
	font-size: 12px;
}
.menu-sign-up ul li {
	padding: 30px 10px;
}
.menu-sign-up ul li a {
	font-size: 12px;
}
.hp-rent h2 {
	font-size: 45px;
	line-height: normal;
}
.hp-rent p {
	font-size: 20px;
}
.grid-item.grid-item--width2 {
	height: 393px;
}
.inner-logo-block .nav > li > a {
	padding: 30px 15px;
}
}

@media (min-width:768px) and (max-width:991px) {
.menu-sign-up {
	right: -10px;
	top: -80px;
}
.menu-sign-up ul li {
	padding: 22px 10px;
}
.icon-1, .menu-sign-up ul li a, .icon-2 {
	display: table;
	margin: 0 auto;
	text-align: center;
}
.grid-item.grid-item--width2 {
	height: 300px;
}
.inner-logo-block .nav > li > a {
	padding: 30px 15px;
}
}

@media (max-width:991px) {
.hp-banner {
	min-height: 100px;
}
.hp-rent h2 {
	font-size: 45px;
	line-height: normal;
}
.hp-rent p {
	font-size: 20px;
}
.hp-logo {
	width: 150px;
}
.hp-logo img {
	width: 100%;
}
.hp-rent a {
	font-size: 15px;
	padding: 7px 30px;
}
.navbar-default .navbar-nav > li > a {
	font-size: 12px;
}
.catagory-content ul {
	text-align: center;
	display: block;
}
.catagory-content li {
	float: none;
	display: inline-block;
	width: 31%;
	margin-bottom: 15px;
	margin-right: 0;
}
.inner-logo {
	width: 120px;
	margin: 0 auto 10px;
	display: table;
}
.inner-logo-block .menu-sign-up {
	/*top: 0;*/
	z-index: 2;
}
.faq-white .panel-group {
	width: 100%;
}
.footer-bottom-menu {
	margin-top: 20px;
}
.post-select-content {
	width: 100%;
}

.list_data .fst-product h5 { font-size:15px;}
.home-search-field .hp-btn-block { width: 26.55%; }
}

@media (min-width:569px) and (max-width:767px) {
.step-block {
	display: flex;
	flex-wrap: wrap;
}
.step-block .col-xs-6 {
	box-shadow: 0 0px 2px #525252;
	margin-bottom: 20px;
	border-radius: 15px;
}
.step-ar-05-none {
	display: none;
}
.grid-item.grid-item--width2 {
	min-height: 100%;
	height: auto;
}
}

@media (max-width:767px) {
.hp-btn-place {
	padding: 10px;
	width: 100%;
	margin: 0;
}
.menu-sign-up {
	left: 0;
	top: -50px;
}
.menu-sign-up ul li {
	padding: 16px 10px;
}
.hp-banner {
	background-image: none;
	background-color: #f5edc9;
}
.hp-logo {
	float: left;
	margin: 0;
}
.hp-rent {
	display: block;
	float: right;
	margin: 5px 0 0;
	text-align: center;
}
.hp-btn-block {
	width: 100%;
	margin: 0 0 2px 0;
}
.select-box-submit {
	width: 100%;
}
.hp-rent h2, .hp-rent p {
	display: none;
}
.customNavigation {
	margin: 10px;
}
.recommended .customNavigation a.prev {
	position: relative;
	left: 0;
}
.recommended .customNavigation a.next {
	position: relative;
	right: 0;
}
.featured-listing .grid-sizer, .featured-listing .grid-item--width2 {
	width: 100%;
}
.featured-listing .grid-item--height2 {
	width: 100%;
	margin: 1% 0 0;
}
.footer-bottom-menu ul {
	display: table;
	margin: 0 auto;
}
.footer-bottom-menu p {
	text-align: center;
}
.catagory-content li img {
	/*width: 100%;*/
}
.catagory-content li {
	width: 29%;
}
.catagory-content h2,  .featured-listing h2,  .recommended h2,  .how-it-work h2 {
	font-size: 25px;
}
.catagory-content h2::after,  .featured-listing h2::after,  .recommended h2::after {
	border-bottom: 2px solid #02caff;
	left: 45%;
	width: 35px;
}
.app-text h2 {
	font-size: 19px;
}
.app-text p {
	font-size: 14px;
	padding: 10px 0;
}
.grid-item.grid-item--width2 {
	min-height: 100%;
	height: auto;
}
.step-ar-01,  .step-ar-02,  .step-ar-03,  .step-ar-04,  .step-ar-05 {
	display: none;
}
.how-it-work h2::after {
	left: 46%;
	width: 35px;
}
.image-app img {
	width: 100%;
}
.footer-text p {
	text-align: center;
}
.footer-text p br {
	display: none;
}
.about-us-top-text h2 {
	font-size: 25px;
	line-height: normal;
}
.title-inner {
	padding: 0;
	text-align: center;
}
.title-inner::after, .global-title h2::after {
	display: none;
}
.global-title h2 {
	font-size: 30px;
	margin: 0;
}
.global-title p {
	font-size: 16px;
}
.faq-block, .about-us-black {
	padding: 20px 0;
}
.title-inner-text {
	margin-bottom: 0;
	padding-bottom: 0;
}
.ls-input-text {
	padding-left: 0;
}
.ls-input-text label {
	font-weight: 300;
}
/*-22-05-2017--*/
.step-process .uploadfile-type-edit {
	margin-bottom: 15px;
}

.list_data .product-img2 { width:100%;}
.list_data .product-content { width:100% !important; }
.home-search-field .hp-btn-block { width: 33.3%; }
.hp-banner { padding-bottom:15px;}
}

@media (max-width:568px) {
.home-page-slider {
	position: relative;
	z-index: 0;
}
.hp-banner {
	padding-bottom: 0;
}
.hp-rent a {
	font-size: 12px;
	padding: 7px 10px;
}
.step-01, .step-02, .step-03, .step-04, .step-05, .step-06 {
	padding: 20px;
}
.how-it-work h2::after {
	left: 40%;
}
.step-block .col-xs-6 {
	width: 100%;
}
.footer-box .col-xs-6 {
	width: 100%;
}
.footer-logo {
	margin: 25px auto 0;
	display: table;
}
.step-block .col-xs-6 {
	box-shadow: 0 0px 2px #525252;
	margin-bottom: 20px;
	border-radius: 15px;
}
.team-image {
	margin-bottom: 20px;
}
.usefull-link, .connect-with-us {
	width: 100%;
}
.ls-in-tab .nav-tabs > li > a {
	font-size: 15px;
	padding: 13px 25px;
}
.white-container {
	padding: 20px 15px;
}
.title-inner {
	font-size: 20px;
}
.ls-in-tab .col-xs-6 {
	width: 100%;
}
.ls-in-tab .col-xs-2 {
	width: 100%;
}
.ls-in-tab .col-xs-4 {
	width: 100%;
}
.ls-in-tab .col-xs-8 {
	width: 100%;
}
.or-box {
	margin: 45px auto;
	display: table;
}
.social-login ul {
	margin: 0 auto;
	display: table;
}
.social-login ul li {
	margin-bottom: 10px;
}
.sufb-from {
}
.sufb-from .col-xs-4 {
	width: 100%;
}
.sufb-from .col-xs-8 {
	width: 100%;
}
.feature-block {
	padding: 25px;
}
.download-app .col-xs-6 {
	width: 100%
}

.list_data .fst-product h4, .list_data .label-success { width:100%; }
.home-search-field .hp-btn-block { width: 100%; }
}

.spacer{
	clear:both;
	height:15px;
}

.cmn_btn {
	background: #02caff;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	border: 0;
	height: 42px;
	text-align: center;
	width: 100%;
	display: block;
	line-height: 43px;
}
.cmn_btn:hover {
	background: #000;
	color: #fff;
}
.vtd_btn .select-box-submit{
	float:none;
	display:inline-block;
	margin-right:15px;
}
