
/*Dash-board*/


.dashboard-search-header { padding:20px 0; overflow:hidden; }
.dsh-one { width:25%; float:left; margin-right:9px; }
.dsh-two { width:30%; float:left; margin-right:9px;}
.dsh-three { width:30%; float:left; margin-right:9px;}
.dsh-four {  float:left;}
.dsh-four button { background:#02caff; border:0; color:#fff; font-size:15px; padding:11px 17px 12px; }
.dsh-four button:hover { background:#000;}

.dashboard-search-header .select-box { border:1px solid #ddd; font-family: 'Lato', sans-serif;}

.profile-name { font-family: 'Lato', sans-serif; color:#000; font-weight:500;  }
.profile-name ul li { float:left; line-height:84px; margin-right:19px; font-size:16px;}
.profile-name ul li:last-child { margin-right:0;}
.profile-name ul li:nth-of-type(2) a{ font-family: 'Lato', sans-serif; background:#02caff; text-transform:uppercase;  color:#fff; font-weight:500; font-size:14px; display:block; padding:0 15px;  }

.dash-board-block { background:#f6f6f6; padding:0 0 40px 0; min-height:200px; }
.title-dsb h2 { font-family: 'Lato', sans-serif; font-size:16px; color:#a4a4a4; margin:0; padding:20px 0; }
.title-dsb h2 .fa-home { color:#02caff; }
.dsl-block { background:#fff; border:1px solid #eeeded; }
.dsl-block ul { padding:25px 25px 0; }
.dsl-block ul li { padding-bottom:25px; }
.dsl-block ul li a { font-family: 'Lato', sans-serif; font-size:16px; color:#000; vertical-align:middle; padding-left:10px;  }
.dsl-block ul li img  {  }

.profile-block { background:#fff; padding:20px; font-family: 'Lato', sans-serif; border: 1px solid #eeeded;border-top: 5px solid #02caff;  }
.profile-level-1 {}
.pb-image { display:table-cell; vertical-align:middle; }
.pb-text { display:table-cell; vertical-align:top; padding:0 20px;  }

.pb-text2 { display:table-cell; vertical-align:top; padding:40px 20px 0;   }

.pb-text h2 { margin:0; padding:0 0 10px; color:#02caff;   }
.pb-text .fa, .pb-text2 .fa  { color:#02caff; font-size:15px; }
.pb-text p, .pb-text2 p  { margin:0; color:#000; padding:0 0 10px; font-size:16px; font-weight:500; font-family: 'Lato', sans-serif;  }
.pb-text p a, .pb-text2 p a  { color:#000; font-weight:400;}
.pb-text a, .pb-text2 a {  color:#02caff;font-size:16px; font-weight:700; text-decoration:underline; font-family: 'Lato', sans-serif;  }
.pb-text a:hover, .pb-text2 a:hover { text-decoration:none; }

.pb-text a span, .pb-text2 a span { font-size:20px;}

.das-btn-black { border:0; color:#02caff; font-size:18px; font-weight:400; background:#000; display:inline-block; padding:5px 20px;  border-radius:50px; font-family: 'Raleway', sans-serif;  width:100px; text-align:center; }
.das-btn-black:hover {background:#02caff; color:#fff; }
.db-btn-m { text-align:center; }
.db-btn-box { display:inline-block; vertical-align:middle; padding:40px 5px; }

.das-btn-blue { border:0; color:#fff; font-size:18px; font-weight:400; background:#02caff; display:inline-block; padding:5px 20px;  border-radius:50px; font-family: 'Raleway', sans-serif; text-align:center;}
.das-btn-blue:hover {background:#000; color:#fff; }

.ds-notification { background:#fff; padding:20px; font-family: 'Lato', sans-serif; margin-top:15px; border: 1px solid #eeeded;border-top: 5px solid #02caff; }
.ds-notification h3 { font-family: 'Raleway', sans-serif; color:#02caff; font-size:18px; font-weight:500; margin:0; padding:0 0 15px; }
.dsnoti-block {}
.dsnoti-img { vertical-align:middle; display:table-cell; }
.dsnoti-text {  vertical-align:middle; display:table-cell; padding:0 20px; }
.dsnoti-text p { color:#000; font-size:14px; font-weight:600; }
.dsnoti-text span { color:#9d9d9d; font-size:14px; font-weight:400; }

.ds-message { background:#fff; padding:20px; font-family: 'Lato', sans-serif; margin-top:15px; min-height:124px; border: 1px solid #eeeded; border-top: 5px solid #02caff;}
.ds-message h3 { font-family: 'Raleway', sans-serif; color:#02caff; font-size:18px; font-weight:500; margin:0; padding:0 0 15px; }

.ds-message p { color:#000; font-size:14px; font-weight:600; }

.post-rental-add { background: #f6f6f6; padding: 0 0 40px 0; min-height: 200px;}
.post-rental-add  h2 {font-family: 'Raleway', sans-serif; font-size: 20px; font-weight:500; color: #000;  margin: 0; padding: 20px 0;}
ul.post-select-category { background:#fff; border: 1px solid #eeeded; float:left; width:24%; min-height:480px; }
ul.post-select-category li { display:block; width:100%; border-bottom: 1px solid #eeeded; }
ul.post-select-category li:last-child { border-bottom:0; }
ul.post-select-category li img { width:40px; position:relative; left:0px; padding-right:15px; }

ul.post-select-category.nav-tabs > li > a {border-radius: 0; border:0; margin:0; font-family: 'Lato', sans-serif; font-size:16px; color:#000;}

ul.post-select-category.nav-tabs > li.active > a, 
ul.post-select-category.nav-tabs > li.active > a:hover, 
ul.post-select-category.nav-tabs > li.active > a:focus { background-color:#02caff; color:#fff; border-radius: 0; border:0;}


.psc-title h3 { font-family: 'Raleway', sans-serif; color:#02caff; font-size:18px; font-weight:500; margin:0; padding:0 0 15px; margin:0; padding:20px 30px; }

.post-select-content { background:#fff; border: 1px solid #eeeded; padding:15px; min-height:480px; float:right; width:74%;}

.profile-picrure-banner img { width:100%; }


.profile-block-page { background:#f6f6f6; padding:20px 0;  }

.profile-block-left { text-align:center; background:#fff; border: 1px solid #eeeded; padding:15px; border-top:5px solid #02caff; position:relative; top:-100px; min-height:300px; }
.pbl-image { display:inline-block; vertical-align:middle; width:94px; height:93px; border-radius:50%; overflow:hidden; border:5px solid #02caff; position:absolute; top:-45px; left:50%; transform:translateX(-50%); -moz-transform:translateX(-50%); -webkit-transform:translateX(-50%);   }
.pbl-image img { width:100%; }
.pbl-text { display:inline-block; vertical-align:top; padding:50px 20px 0;  }

.pbl-text h2 { margin:0; padding:0 0 5px; color:#02caff; font-size:22px; font-family: 'Raleway', sans-serif; }
.pbl-text h3 { margin:0; padding:0 0 15px; color:#000; font-size:14px; font-family: 'Raleway', sans-serif;}
.pbl-text h3 span {color:#a4a4a4; }
.pbl-text .fa  { color:#02caff; font-size:15px; }
.pbl-text p { margin:0; color:#000; padding:0 0 5px; font-size:16px; font-weight:500; font-family: 'Lato', sans-serif;  }
.pbl-text p a  { color:#02caff; font-weight:400;}


.profile-block-right { min-height:1000px;}
.breadcrumb > li a { font-size:16px;}

.profile-about { background:#fff; border: 1px solid #eeeded; padding:40px 15px; border-top:5px solid #02caff; }
.profile-about h3 { margin:0; padding:0 0 15px; color:#000; font-size:20px; font-family: 'Raleway', sans-serif; font-weight:700;}
.profile-about p { margin:0; color:#000; padding:0 0 5px; font-size:14px; line-height:26px; font-weight:500; font-family: 'Lato', sans-serif;  }


.pa-text { display:inline-block; vertical-align:top; width:85%; padding-right:20px; }
.since-year { display:inline-block; vertical-align:middle; width:95px; position:relative; top:25px;}
.since-year-left { border-left:3px solid #02caff; position:relative; height:85px; float:left; }
.since-year-left:after {border-top:3px solid #02caff; content:""; position:absolute; left:0; top:0; width:19px; }
.since-year-left:before {border-top:3px solid #02caff; content:""; position:absolute; left:0; bottom:0; width:19px;}

.since-content {  font-size:44px; font-weight:500; font-family: 'Lato', sans-serif; float:left; width:80px; text-align:center; position:relative; height:85px; line-height:85px; }

.since-user { font-size:14px; font-weight:500; font-family: 'Lato', sans-serif; position:absolute; top:-15px; width:100%; text-align:center; line-height:normal; }
.since-yr { font-size:14px; font-weight:500; font-family: 'Lato', sans-serif; position:absolute; bottom:-5px; width:100%; text-align:center; line-height:normal;}

.since-year-right { border-right:3px solid #02caff; position:relative; height:85px; float:left; }
.since-year-right:after {border-top:3px solid #02caff; content:""; position:absolute; right:0; top:0; width:19px; }
.since-year-right:before {border-top:3px solid #02caff; content:""; position:absolute; right:0; bottom:0; width:19px;}


.profile-listing { padding:40px 0; }
.pro-lis-title  { color:#000; font-size:20px; font-family: 'Raleway', sans-serif; font-weight:700; margin:0; padding:0 0 10px;}

.profile-listing-block { background:#fff; border: 1px solid #eeeded; padding:15px; font-family: 'Lato', sans-serif; margin-bottom:30px;}
.profile-listing-block p { margin:0; padding:0; }
.profile-listing-image img { width:100%;}
.profile-listing-text { overflow:hidden; padding:20px 0 10px; }
.profile-listing-text-title { width:50%; float:left; }
.profile-listing-text-title p { font-size:18px; font-weight:500; font-family: 'Lato', sans-serif; color:#000;}
.profile-listing-text-title span { font-size:14px; font-weight:400; font-family: 'Lato', sans-serif; color:#828282; float:right; padding-top:3px;}

.lp-text { font-size:13px; color:#7c7c7c;}
.lp-left { float:left; width:50%; font-size:14px; color:#7c7c7c;  font-family: 'Lato', sans-serif; }
.lp-left img { padding-right:5px;}
.lp-right { float:left; width:50%; font-size:14px; color:#7c7c7c; font-family: 'Lato', sans-serif; text-align:right; }

.location-profile { overflow:hidden; padding:10px 0; margin-bottom:10px; border-bottom:1px solid #e5e5e5;}

.profile-details { overflow:hidden; }
.pd-text { float:left; width:35%; font-size:18px; font-weight:500; font-family: 'Lato', sans-serif; color:#02caff; }
.pd-button { float:left; width:65%; text-align:right; }

.view-more-profile { text-align:center; width:100%; padding:20px 0 30px 0; float:left;  }
.view-more-profile .das-btn-black { color:#fff; width:auto; }

.select-category-section ul { padding-top:15px;}
.select-category-section li { display:inline; padding-bottom:10px; width:100%; float:left;}
.select-category-section li a { float:left;  font-size:18px; font-weight:500; font-family: 'Lato', sans-serif; color:#02caff;}

.review {}

.review .nav-tabs > li.active > a, 
.review .nav-tabs > li.active > a:hover, 
.review .nav-tabs > li.active > a:focus { background:#02caff; color:#fff; border:0; font-weight:400; }
.review .nav-tabs > li > a { font-family: 'Raleway', sans-serif; font-size:18px; font-weight:700; background-color: #ebebeb; color:#000;  border:0; border-radius:0; padding:13px 55px; }
.review > li { margin-bottom:0;}
.review .nav-tabs { border-bottom:2px solid #02caff; }

.review-form { padding-bottom:20px;}
.review-form label { font-family: 'Raleway', sans-serif; color:#000; font-size:18px; font-weight:500; margin:0; padding:0 0 10px; }
.review-content {background:#fff; border: 1px solid #eeeded; padding:15px; font-family: 'Lato', sans-serif; min-height:210px; }
.review-content textarea { border: 1px solid #eeeded; height:65px; resize:none; width:100%; padding:15px; }

.profile-nav .navbar-inverse { background:#fff; border:0; border-radius:0; }
.navbar-inverse .navbar-nav > li > a { color: #959595; font-size:18px; padding:15px 25px; font-family: 'Lato', sans-serif; font-weight:600px;}

.profile-nav .affix .navbar-nav > li > a { padding:32px 25px; }
.profile-nav .affix {top:0; width: 100%;z-index: 9999 !important; }
 .profile-nav .navbar { margin-bottom: 0px; }

.affix ~ .pf-sc {position: relative; top: 200px;}
  
.profile-nav .navbar-inverse .navbar-nav > li > a:hover, 
.profile-nav .navbar-inverse .navbar-nav > li > a:focus { color: #fff; background-color: #02caff;}

.profile-nav .navbar-inverse .navbar-nav > .active > a {  color: #fff; background-color: #02caff;}

.rating-box { padding:15px 0;}


.your-containt-details { background:#f6f6f6; padding:30px 0; min-height:300px; }
.details-containt-block-1 { background: #fff; border: 1px solid #eeeded; padding: 40px 50px; border-top: 5px solid #02caff; margin-bottom:20px; }
.details-containt-block-1 h2 { font-family: 'Raleway', sans-serif; color:#02caff; font-size:20px; font-weight:500; margin:0; padding:0 0 10px; }


.ls-input-text { padding-left:40px;}

.details-containt-block-1 label { font-family: 'Raleway', sans-serif; font-size:16px; font-weight:600; color:#000; height:42px; line-height:42px; margin:0; padding:0; }
.details-containt-block-1 input[type="text"] { border: 1px solid #ececec; background: #f6f6f6; height: 42px; line-height: 42px; border-radius: 20px; font-family: 'Lato', sans-serif; border-right:0;}
.details-containt-block-1 input[type="date"] { border: 1px solid #ececec; background: #f6f6f6; height: 42px; line-height: 42px; border-radius: 20px; font-family: 'Lato', sans-serif; border-right:0;}
.details-containt-block-1 textarea{ border: 1px solid #ececec; border-radius:20px; background: #f6f6f6; height: 95px; padding:10px;resize:none; font-family: 'Lato', sans-serif; border-right:0;}

.details-containt-block-1 select{ border: 1px solid #ececec; border-radius:20px; padding-right: 10px; height: 42px;
    line-height: 42px;background: #f6f6f6; font-family: 'Lato', sans-serif; border-right:0;}

.dcb-input-text label span { color:#919191; font-size:14px; font-weight:400; }

.fuel-box { display:table-cell; vertical-align:middle; }
.fuel-box-option {  display:table-cell; vertical-align:middle; padding:0 0 0 75px;}

.fuel-box-option .btn-primary { background-color:transparent; border:none; background-image:url(../images/radio-box.png); background-repeat:no-repeat; background-position: 0 2px; padding:0 25px; line-height:normal; font-size:14px; font-weight:400; height:auto; font-weight:600; font-family: 'Lato', sans-serif; }

.fuel-box-option .btn-primary:hover { background-color:transparent; border:none; color:#000;}

.fuel-box-option .btn-primary.active { background-color:transparent; border:none; background-image:url(../images/radio-box-active.png); background-repeat:no-repeat; background-position: 0 2px; color:#000;  }

.file-type-edit .btn-default { border: 1px solid #ececec; width:100%; background-color: #f6f6f6; padding: 0 25px; border-radius: 20px;}
.file-type-edit .input-group { width:100%; }
.file-type-edit .btn-default:hover { background-color:transparent; }
.file-type-edit .btn-default .icon-span-filestyle { display:none;  }
.file-type-edit .group-span-filestyle { padding-right:0; }
.details-containt-block-1 .input-group .form-control:last-child { border-radius: 20px; }
.details-containt-block-1 .input-group-btn:first-child > .btn { border-radius: 20px; }

.details-containt-block-1 .input-group-addon:last-child { border-radius: 0px 20px 20px 0; border: 1px solid #ececec;  background-color: #f6f6f6; border-left:0;}

.dcb-input-level, .fuel-block {padding-bottom: 15px;}

.wtconvert label { color:#02caff}

.details-containt-block-2 { }
.details-containt-block-2 p { font-family: 'Lato', sans-serif; font-size:16px; color:#000;  }
.scb2-btn { margin:20px auto 0; display:table; }

.scb2-btn input[type="submit"] { border:0; color:#fff; font-size:18px; font-weight:400; background:#02caff; display:inline-block; padding:9px 40px;  border-radius:50px; font-family: 'Raleway', sans-serif;}
.scb2-btn input[type="submit"]:hover {background:#000; color:#fff; }

.post-ad-details-left { background: #fff; border: 1px solid #eeeded; padding: 15px; min-height: 180px; margin-bottom:20px;}
.padl-title { border-bottom:1px solid #02caff; color:#02caff; font-family: 'Raleway', sans-serif; font-weight:500; margin: 0 -15px; padding: 0 15px 15px;  }

.pdl-image { display:table-cell; vertical-align:middle; width:49px; height:49px; border-radius:50%;  }
.pdl-image img { width:100%; }

.pdl-block { padding-top:20px;}
.pdl-text { display:table-cell; vertical-align:middle; padding:0 25px; }
.pdl-text p { font-family: 'Lato', sans-serif; font-size:18px; color:#000; line-height:normal; padding:0; margin:0; }
.pdl-text span { font-family: 'Lato', sans-serif; color:#969696; font-size:14px;}

.pld-logo { width:120px; }
.pld-logo img { width:100%; }
.pdl-block2 h3 { font-family: 'Raleway', sans-serif; color:#000; font-size:14px; font-weight:600; line-height:26px; }
.pdl-block2 p { font-family: 'Raleway', sans-serif; font-size:14px; color:#969696; line-height:26px; padding:0; margin:15px 0; }

.pdl-block2 img { margin-bottom:20px;}
.pld-btn a { border:0; color:#fff; font-size:14px; font-weight:500; background:#02caff; display:inline-block; padding:9px 40px;  border-radius:50px; font-family: 'Raleway', sans-serif;}
.pld-btn a:hover {background:#000; color:#fff; }

.price-day-rent { overflow:hidden; }
.price-day-rent .dcb-input-level { padding:0;}
.error { font-size:12!important;}

/*Dash-board-End*/



/*Dash-board-media-querry*/

@media (min-width:768px) and (max-width:1199px) {
	.pd-text { font-size:12px;}
.das-btn-blue { font-size:12px;}
	
	}
@media (max-width:1199px) {
.profile-name ul li { font-size:12px; margin-right:5px; }
.profile-name ul li a { font-size:12px; padding:0 12px;}
.pb-text2 { display:block; }
.db-btn-box { display:inline-block; padding:0 0 10px; }

.dsl-block ul { padding: 15px 15px 0; }
.dsl-block ul li a { font-size:14px;}

}

@media (max-width:991px) { 
.profile-name { float:right;}
.dsh-four { width:10%;}
.dsh-four button { width:100%;}
.details-containt-block-1 { padding:25px 15px; }
.details-containt-block-2 { margin-bottom:20px; }
.dsnoti-block, .dsl-block { margin-bottom:20px;}
.db-btn-box { padding:20px 0 10px; }
.pa-text { width:75%; }
.post-select-content { width:100%; }
}

@media (max-width:767px) { 
.dash-board-start.sticky { position:relative;}
.profile-block-left { top:0px; }
.profile-nav .navbar-inverse .navbar-toggle { border-color: #02caff; }
.profile-nav .navbar-inverse .navbar-toggle .icon-bar { background-color: #02caff; }
.profile-nav .affix .navbar-nav > li > a { padding:10px 10px;}
.profile-nav .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form { border-color:#02caff;}
.pa-text { width:100%; }
.since-year { top:0; margin:40px auto 0; display:table; }
}
@media (max-width:568px) {
	.dsh-one, .dsh-two, .dsh-three, .dsh-four { width:100%; margin-bottom:10px; }
	.fuel-box { display:block; }
	.wtconvert label { line-height:normal; margin-bottom: 15px; }
	.fuel-box-option {display: block; vertical-align: middle; padding: 0;}
	.fuel-box-option .btn-primary { margin-bottom:10px;}
	.for-upload .input-group-btn > .btn { padding:0 10px!important; font-size:11px;  }
}

@media (max-width:360px) {
	.dash-board-start .col-xs-2, .dash-board-start .col-xs-10 { width:100%; }
	.profile-name ul li { margin:0; }
	.profile-name { width:100%; padding-top:15px; }
	.profile-name ul li + li { float:right; }
	.pb-image { display:table; margin:0 auto;}
	.pb-text { display:table; margin:20px auto 0;}
	.pb-text2 { text-align:center; }
}
.gap-35{
	margin-top: 35px;
}

.for-upload {
    position: relative;
    margin-bottom: 25px;
}
.for-upload label.error {
    position: absolute;
    bottom: -20px;
    left: 8px;
}
.for-upload .input-group-btn > .btn {
    position: relative;
    padding: 0 20px;
	margin-right: 15px;
}
.success-popup  {
    transition: .3s ease all;
    font-family: 'Roboto', sans-serif;
}

/* 22/06/2017 Mithu */
.mt-container{
    
}
.mt-container a{
    text-decoration: none;
}
.mt-container a:hover, .mt-container a:focus{
    text-decoration: none;
}
.mail-box {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
}
.mail-box aside {
    display: table-cell;
    float: none;
    height: 100%;
    padding: 0;
    vertical-align: top;
}
.mail-box .sm-side {
    background: none repeat scroll 0 0 #e5e8ef;
    border-radius: 4px 0 0 4px;
    width: 35%;
}
.mail-box .lg-side {
    background: none repeat scroll 0 0 #fff;
    border-radius: 0 4px 4px 0;
    width: 75%;
}
.mail-box .sm-side .user-head {
    background: #079ec6;
    border-radius: 4px 0 0;
    color: #fff;
    min-height: 80px;
    padding: 10px;
}
.user-head .inbox-avatar {
    float: left;
    width: 65px;
}
.user-head .inbox-avatar img {
    border-radius: 4px;
}
.user-head .user-name {
    display: inline-block;
    margin: 0 0 0 10px;
}
.user-head .user-name h5 {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 15px;
}
.user-head .user-name h5 a {
    color: #fff;
    font-weight: 600;
}
.user-head .user-name span a {
    color: #87e2e7;
    font-size: 12px;
    font-weight: 600;
}
a.mail-dropdown {
    background: none repeat scroll 0 0 #80d3d9;
    border-radius: 2px;
    color: #01a7b3;
    font-size: 10px;
    margin-top: 20px;
    padding: 3px 5px;
}
.inbox-body {
    padding: 20px 0px 20px 20px;
}
.btn-compose {
    background: none repeat scroll 0 0 #04718e;
    color: #fff;
    font-weight: 600;
    padding: 12px 0;
    text-align: center;
    width: 100%;
}
.btn-compose:hover {
    background: #034759;
    color: #fff;
}
ul.inbox-nav {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
}
.inbox-divider {
    border-bottom: 1px solid #d5d8df;
}
ul.inbox-nav li {
    display: inline-block;
    line-height: 45px;
    width: 100%;
}
ul.inbox-nav li a {
    color: #6a6a6a;
    display: inline-block;
    line-height: 45px;
    padding: 0 20px;
    width: 100%;
}
ul.inbox-nav li a:hover, ul.inbox-nav li.active a, ul.inbox-nav li a:focus {
    background: none repeat scroll 0 0 #d5d7de;
    color: #6a6a6a;
}
ul.inbox-nav li a i {
    color: #6a6a6a;
    font-size: 16px;
    padding-right: 10px;
}
ul.inbox-nav li a span.label {
    margin-top: 13px;
}
ul.labels-info li h4 {
    color: #5c5c5e;
    font-size: 13px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    text-transform: uppercase;
}
ul.labels-info li {
    margin: 0;
}
ul.labels-info li a {
    border-radius: 0;
    color: #6a6a6a;
}
ul.labels-info li a:hover, ul.labels-info li a:focus {
    background: none repeat scroll 0 0 #d5d7de;
    color: #6a6a6a;
}
ul.labels-info li a i {
    padding-right: 10px;
}
.nav.nav-pills.nav-stacked.labels-info p {
    color: #9d9f9e;
    font-size: 11px;
    margin-bottom: 0;
    padding: 0 22px;
}
.inbox-head {
    background: #70d4ef;
    border-radius: 0 4px 0 0;
    color: #fff;
    min-height: 80px;
    padding: 20px;
}
.inbox-head h3 {
    display: inline-block;
    font-weight: 300;
    margin: 0;
    padding-top: 6px;
}
.inbox-head .sr-input {
    border: medium none;
    border-radius: 4px 0 0 4px;
    box-shadow: none;
    color: #8a8a8a;
    float: left;
    height: 40px;
    padding: 0 10px;
}
.inbox-head .sr-btn {
    background: #079EC6;
    border: medium none;
    border-radius: 0 4px 4px 0;
    color: #fff;
    height: 40px;
    padding: 0 20px;
}
.table-inbox {
    border: 1px solid #d3d3d3;
    margin-bottom: 0;
}
.table-inbox tr td {
    padding: 12px !important;
}
.table-inbox tr td:hover {
    cursor: pointer;
}
.table-inbox tr td .fa-star.inbox-started, .table-inbox tr td .fa-star:hover {
    color: #f78a09;
}
.table-inbox tr td .fa-star {
    color: #d5d5d5;
}
.table-inbox tr.unread td {
    background: none repeat scroll 0 0 #f7f7f7;
    font-weight: 600;
}
ul.inbox-pagination {
    float: right;
}
ul.inbox-pagination li {
    float: left;
}
.mail-option {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}
.mail-option .chk-all, .mail-option .btn-group {
    margin-right: 5px;
}
.mail-option .chk-all, .mail-option .btn-group a.btn {
    background: none repeat scroll 0 0 #fcfcfc;
    border: 1px solid #e7e7e7;
    border-radius: 3px !important;
    color: #afafaf;
    display: inline-block;
    padding: 5px 10px;
}
.inbox-pagination a.np-btn {
    background: none repeat scroll 0 0 #fcfcfc;
    border: 1px solid #e7e7e7;
    border-radius: 3px !important;
    color: #afafaf;
    display: inline-block;
    padding: 5px 15px;
}
.mail-option .chk-all input[type="checkbox"] {
    margin-top: 0;
}
.mail-option .btn-group a.all {
    border: medium none;
    padding: 0;
}
.inbox-pagination a.np-btn {
    margin-left: 5px;
}
.inbox-pagination li span {
    display: inline-block;
    margin-right: 5px;
    margin-top: 7px;
}
.fileinput-button {
    background: none repeat scroll 0 0 #eeeeee;
    border: 1px solid #e6e6e6;
}
.inbox-body .modal .modal-body input, .inbox-body .modal .modal-body textarea {
    border: 1px solid #e6e6e6;
    box-shadow: none;
}
.btn-send, .btn-send:hover {
    background: none repeat scroll 0 0 #00a8b3;
    color: #fff;
}
.btn-send:hover {
    background: none repeat scroll 0 0 #009da7;
}
.modal-header h4.modal-title {
    font-family: "Open Sans",sans-serif;
    font-weight: 300;
}
.modal-body label {
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
}
.heading-inbox h4 {
    border-bottom: 1px solid #ddd;
    color: #444;
    font-size: 18px;
    margin-top: 20px;
    padding-bottom: 10px;
}
.sender-info {
    margin-bottom: 20px;
}
.sender-info img {
    height: 30px;
    width: 30px;
}
.sender-dropdown {
    background: none repeat scroll 0 0 #eaeaea;
    color: #777;
    font-size: 10px;
    padding: 0 3px;
}
.view-mail a {
    color: #ff6c60;
}
.attachment-mail {
    margin-top: 30px;
}
.attachment-mail ul {
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;
}
.attachment-mail ul li {
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 150px;
}
.attachment-mail ul li img {
    width: 100%;
}
.attachment-mail ul li span {
    float: right;
}
.attachment-mail .file-name {
    float: left;
}
.attachment-mail .links {
    display: inline-block;
    width: 100%;
}

.fileinput-button {
    float: left;
    margin-right: 4px;
    overflow: hidden;
    position: relative;
}
.fileinput-button input {
    cursor: pointer;
    direction: ltr;
    font-size: 23px;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-300px, 0px) scale(4);
}
.fileupload-buttonbar .btn, .fileupload-buttonbar .toggle {
    margin-bottom: 5px;
}
.files .progress {
    width: 200px;
}
.fileupload-processing .fileupload-loading {
    display: block;
}
* html .fileinput-button {
    line-height: 24px;
    margin: 1px -3px 0 0;
}
* + html .fileinput-button {
    margin: 1px 0 0;
    padding: 2px 15px;
}




ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.mt-account-wrap {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #eeeded;
    padding: 20px;
}
.mt-account-wrap h3 {
  background: rgba(0, 0, 0, 0.08) none repeat scroll 0 0;
  color: #000;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 0;
  padding: 10px;
  text-transform: uppercase;
}
.check-bx-group ul li {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 8px;
}
.check-bx-group span {
    margin-right: 10px;
}
.check-bx-group{
    margin-bottom: 30px;
    padding-left: 10px;
}
.personal-info{
    padding-left: 10px;
}
.personal-info .ls-input-text {
  padding-left: 0;
}
.personal-info label {
  font-size: 15px;
  font-weight: normal; 
}





@media (max-width: 767px) {
.files .btn span {
    display: none;
}
.files .preview * {
    width: 40px;
}
.files .name * {
    display: inline-block;
    width: 80px;
    word-wrap: break-word;
}
.files .progress {
    width: 20px;
}
.files .delete {
    width: 60px;
}
}
@media only screen and (max-width: 768px) {
.mail-box .sm-side {
display: block;
width: 100%;
}
.mail-box .lg-side{
    width: 100%;
}
.mail-box aside{
    display: block;
}
}
@media only screen and (max-width: 480px) {
    .notify-row, .search, .dont-show, .inbox-head .sr-input, .inbox-head .sr-btn {
  display: none;
}
.inbox-body {
  padding: 20px 0;
}
.table-inbox tr td {
  font-size: 13px;
  padding: 12px 5px !important;
}

}
.personal-info label{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 600;
	color: #000;
	height: 42px;
	line-height: 42px;
	margin: 0;
	padding: 0;
}
.text-area{
	border: 1px solid #ececec;
    background: #f6f6f6;
    /* height: 42px; */
    line-height: 42px;
    border-radius: 20px;
}