.msgMe{
	    text-align: left;
	    width: 75%;
	    background-color: #DFFDC7;
	    border-radius: 4px;
	    padding: 5px;
	    font-size: 14px;
	    float: left;
	    margin: 1px;
	    font-family: 'Open Sans', sans-serif;
	    font-weight: 600;
	}
	.msgOther{
		text-align: right;
	    width: 75%;
	    background-color: #e1e7f2;
	    border-radius: 4px;
	    padding: 5px;
	    font-size: 14px;
	    float: right;
	    margin: 1px;
	    font-family: 'Open Sans', sans-serif;
	    font-weight: 600;
	}
	.chatboxmessagecontent img{
		width: 87%;
	}
	.attachItem{
		font-size: 25px;
	}
	.chatboxinput{
		position: relative;
	}
	.image-upload {
	    position: absolute;
	    right: -13px;
	    top: 0px;
	    width: 39px;
	    height: 28px;
	}
	.image-upload > input {
	    opacity: 0;
	    position: absolute;
	    top: 11px;
	    right: 0;
	    height: 27px;
	    background: red;
	    width: 34px;
	}
