/* Normal desktop :992px. */

@media only screen and (min-width: 1024px) and (max-width: 1600px) {
    div#counselling-search-input .col-md-2 {
        width: 20%;
        padding-left: 0px;
        padding-right: 7px;
    }
}

@media only screen and (max-width:1199px) {
    .top-wrap {
        position: relative;
        padding: 50px 0;
    }
    .welcometxt p {
        font-size: 20px;
    }
    .welcometxt h2 {
        font-size: 70px;
        line-height: 1;
        margin-bottom: 30px;
    }
    .btn-cmn {
        border: #2887b6 2px solid;
        min-width: 110px;
    }
    .main-bg {
        min-height: 630px;
    }
    #quote-carousel .carousel-control.right {
        right: 225px;
        bottom: auto;
    }
    #quote-carousel .carousel-control.left {
        left: 225px;
        bottom: auto;
    }
    .stepwizard-row li:before {
        width: 44px;
    }
    .profile-photo {
        width: 150px;
        height: 150px;
    }
    .profile-des {
        width: 250px;
    }
    .dashboard-header {
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 25px;
        border-radius: 0;
        height: 250px;
        position: relative;
        background-position: center top;
    }
    .dashboard-nav {
        padding-bottom: 0;
    }
    .dashboard-bg {
        background-size: inherit;
        background-color: #001e37;
    }
    #counselling-search-input .search-query {
        padding-right: 36px;
    }
    .searchCounselor .showTipsBtn {
        padding: 9px 0 7px 0;
        width: 129px;
    }
    .counselling .textSec a {
        width: 109px;
        height: 30px;
        margin-right: 0px;
        line-height: 18px;
    }
    .myMatch .textSec p {
        padding-top: 0px;
        margin-bottom: 3px;
    }
    .myMatch .textSec a {
        margin-right: 7px;
    }
    .show-tips .showTipsBtn {
        padding: 7px 15px 7px 15px;
    }
    .top-section-counselor .profile-status {
        width: 40%;
    }
    .top-section-counselor .dashboard-header {
        height: 173px;
    }
    .top-section-counselor .profile-info {
        position: absolute;
        bottom: inherit;
        top: 0;
    }
    .top-section-counselor .profile-photo {
        position: absolute;
        top: 40px;
    }
    .top-section-counselor .profile-des {
        top: 77px;
        left: 130px;
    }
    .top-section-counselor .profile-status ul {
        display: inline-block;
        margin-top: 10px;
    }
    .cnslrPd {
        padding-top: 25px;
    }
    #testi-carousel.owl-carousel .owl-nav .owl-prev {
        left: 0;
    }
    #testi-carousel.owl-carousel .owl-nav .owl-next {
        right: 0;
    }
    #testi-carousel.owl-carousel .owl-nav {
        top: auto;
        position: relative;
        margin-top: 0;
        width: 100%;
        bottom: 0;
        margin-top: 25px;
    }
    #testi-carousel.owl-carousel .owl-nav .owl-prev,
    #testi-carousel.owl-carousel .owl-nav .owl-next {
        position: relative;
        margin: 0 5px;
    }
}


/* Tablet desktop :768px. */

@media only screen and (max-width:991px) {
    .dashboardSec .recentMatch h3 {
        margin-top: 15px;
        padding-left: 15px;
    }
    .main-bg {
        padding: 10px 0;
    }
    .menu_sec .navbar-nav>li>a {
        font-size: 14px;
    }
    .btn-login {
        border: #2887b6 2px solid;
        font-weight: bold;
        color: #fff;
        padding: 5px 10px;
        border-radius: 30px;
        min-width: auto;
    }
    .btn-joinus {
        border: #2887b6 2px solid;
        font-weight: bold;
        color: #fff;
        background: #2887b6;
        padding: 5px 10px;
        border-radius: 30px;
        min-width: auto;
    }
    .top-wrap {
        position: relative;
        padding: 20px 0;
    }
    .menu_sec .navbar-nav>li {
        margin-left: 30px;
    }
    .welcometxt h2 {
        font-size: 60px;
    }
    .main-bg {
        min-height: 520px;
        background-position: right top;
        background-size: inherit;
    }
    .stepwizard-row li:before {
        width: 35px;
    }
    .profile-box {
        margin-bottom: 10px;
    }
    .info-box {
        padding: 15px;
        margin-bottom: 10px;
    }
    #quote-carousel .carousel-control.right {
        right: 125px;
        bottom: auto;
    }
    #quote-carousel .carousel-control.left {
        left: 125px;
        bottom: auto;
    }
    .menu_sec .navbar-nav {
        margin: 7.5px 0;
    }
    .brd {
        display: none;
    }
    .photo-list li {
        position: relative;
        width: 20%;
        height: 145px;
    }
    .video-list li {
        position: relative;
        width: 20%;
        height: 145px;
    }
    .slicknav_nav a {
        text-decoration: none;
        color: #2887b6;
    }
    .userTips,
    .btm-section {
        margin-bottom: 10px;
        margin-top: 60px;
    }
    .searchCounselor {
        /* margin-top: 55px; */
    }
    .searchCounselor h3 {
        font-size: 16px;
        font-weight: bold;
        line-height: 28px;
        margin-bottom: 0;
        padding-top: 3px;
    }
    .myMatch .textSec p {
        padding-top: 0px;
        margin-bottom: 3px;
    }
    .myMatchSection {
        margin-top: 60px;
    }
    .message-left .navMsg li {
        padding-right: 4px;
    }
    .message-left {
        margin-bottom: 20px;
        margin-top: 60px;
    }
    .membership {
        margin-bottom: 15px;
    }
    .payment {
        padding: 30px 70px 55px;
    }
    .counselorSec {
        margin-top: 0 !important;
    }
    .top-section-counselor .profile-photo {
        top: 53px;
    }
    .cnslrPd {
        padding-top: 25px;
    }
    .top-section-counselor .profile-status ul {
        margin-top: 0;
    }
    .chat-window {
        /*height: calc(100% - 50px);*/
        z-index: 99;
    }
    .navbar-custom-menu .navbar-nav>li>a {
        padding-top: 0;
    }
    .navbar-custom-menu .navbar-nav>li+li {
        margin-left: 5px;
    }
    .messages-menu span.count {
        top: -5px;
    }
    .notificationWrap {
        margin-right: 10px;
    }
    .dashboard-header {
        height: 300px;
    }
    .searchCounselor .showTipsBtn {
        /* padding: 9px 0 7px 0; */
        width: 150px;
    }
    /* .slicknav_parent a a {
        color: #fff;
    } */
    /* .slicknav_collapsed a {
        color: #fff;
    } */
    .what__new--mod .post-item img {
        width: auto;
        height: auto;
    }
    .what__new--mod .pull-right {
        float: none !important;
    }
    .navbar-custom-menu .nav>li>a {
        padding: 10px 10px;
    }
    .profile-details .profile-title {
        font-size: 18px;
    }
}


/* Large Mobile :480px. */

@media only screen and (max-width:767px) {
	#messageForm .showTipsBtn{
		margin-top:10px;
	}
    .dashboardSec #dashboardSecSlid {
        margin-top: 30px;
    }
    .dashboardSec .details {
        width: 100%;
        float: left;
        padding-left: 2px;
    }
    .timeline-panel h2.post-title {
        font-size: 18px;
    }
    .inner-chat-section {
        height: 820px !important;
    }
    .timeliner:before {
        display: none;
    }
    .timeline-icon {
        display: none;
    }
    .timeliner>li .timeline-panel {
        position: relative;
        float: right;
        width: 100%;
        padding: 20px 0 20px 0;
        text-align: left;
    }
    .post-item img {
        margin-bottom: 20px;
    }
    .loginbox {
        float: none;
    }
    .main-header .logo {
        float: left;
        width: 80px;
    }
    .menu_sec {
        clear: both;
        background: #fff;
        margin-top: 10px;
        float: left;
        width: 100%;
    }
    .menu_sec .navbar-default .navbar-brand {
        color: #2887b6;
    }
    .menu_sec .navbar-default .navbar-toggle {
        border-color: #fff;
    }
    .menu_sec .navbar-default .navbar-toggle .icon-bar {
        background-color: #2887b6;
    }
    .menu_sec .navbar-default .navbar-toggle:focus,
    .menu_sec .navbar-default .navbar-toggle:hover {
        background-color: #fff;
    }
    .menu_sec .navbar-nav>li {
        margin-left: 0;
    }
    .menu_sec .navbar-default .navbar-nav>li>a {
        color: #000;
        padding: 10px;
    }
    .menu_sec .navbar-default .navbar-nav>.active>a,
    .menu_sec .navbar-default .navbar-nav>.active>a:focus,
    .menu_sec .navbar-default .navbar-nav>.active>a:hover {
        color: #000;
    }
    .menu_sec .navbar-default .navbar-nav>.active>a:after,
    .menu_sec .navbar-default .navbar-nav>:hover a:after {
        display: none;
    }
    .top-wrap .pull-right {
        float: none !important;
    }
    .stepwizard-row li:before {
        width: 66px;
    }
    .selectiontab .form-group {
        display: inline-block;
    }
    .welcometxt {
        margin-top: 20px;
    }
    .welcometxt h2 {
        font-size: 40px;
        margin-bottom: 15px;
    }
    .welcometxt p {
        font-size: 16px;
    }
    .match_list {
        margin-top: 20px;
    }
    #quote-carousel .carousel-indicators {
        width: 80%;
        margin-left: -40%;
        min-height: inherit
    }
    #quote-carousel .carousel-indicators .active {
        background: #333333;
        width: 60px;
        height: 60px;
        border-radius: 100px;
        opacity: 1;
        overflow: hidden;
    }
    #quote-carousel .carousel-control {
        margin-top: 20px;
    }
    #quote-carousel .carousel-control.left {
        left: 50px;
        bottom: auto;
    }
    #quote-carousel .carousel-control.right {
        right: 50px;
        bottom: auto;
    }
    .testi_wrap {
        padding: 30px 0;
    }
    .testi_wrap .testi-title {
        font-size: 50px;
    }
    #quote-carousel {
        margin-top: 0;
        padding: 0;
    }
    .footer_main {
        padding: 20px 0;
    }
    .login-box-body,
    .register-box-body {
        background: rgba(255, 255, 255, .9);
        padding: 20px 10px 35px;
        border-top: 0;
        color: #000;
    }
    .navbar-custom-menu {
        float: left;
    }
    .navbar-custom-menu .nav>li {
        float: left;
    }
    .dashboard-header {
        padding: 10px;
    }
    .top-section {
        margin-top: 50px;
    }
    .profile-photo {
        width: 80px;
        height: 80px;
        border: 3px solid #fff;
    }
    .profile-photo .edit-icon {
        width: 35px;
        height: 35px;
        font-size: 18px;
        line-height: 35px;
    }
    .profile-info {
        position: relative;
        bottom: auto;
        top: auto;
        width: 100%;
    }
    .profile-des {
        width: 100%;
        padding: 0;
    }
    .profile-status {
        color: #fff;
        text-align: left;
        position: relative;
        width: 100%;
        float: none;
        min-height: inherit;
    }
    .action_wrap {
        position: relative;
        bottom: 0;
        top: auto;
        right: 0;
    }
    .photo-list li {
        height: 88px;
    }
    .video-list li {
        height: 88px;
    }
    .userTips {
        background: #fff;
        padding: 38px 10px 13px 10px;
    }
    .searchCounselor {
        margin-top: 57px;
        padding: 5px;
        text-align: center;
    }
    #counselling-search-input .search-query {
        padding-right: 3px;
        padding-left: 18px;
        margin-bottom: 15px;
    }
    #counselling-search-input button {
        top: -7px;
    }
    .searchCounselor .showTipsBtn {
        margin-bottom: 15px;
        margin-top: 15px;
        width: auto;
        padding: 10px 25px;
    }
    .searchCounselor h3 {
        margin-bottom: 8px;
    }
    .msgBox .msgNm {
        display: inline-block;
        vertical-align: top;
        padding-top: 38px;
        padding-left: 10px;
    }
    .msgBox {
        padding: 30px 30px 34px 30px;
        margin-bottom: 15px;
    }
    .item-memeber:hover,
    .item-memeber.active {
        margin-bottom: 50px;
    }
    .chat-window {
        width: calc(100% - 50px);
    }
    .chat-window .rightSec a {
        font-size: 18px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .inner-chat-section .text {
        width: 80%;
    }
    .typeYourMesg .form-control {
        width: 70%;
    }
    #searchpopup .form-inline .form-group {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    #searchpopup .to {
        margin: 5px 5px;
    }
    .advanceSearch {
        text-align: center;
    }
    .advanceSearch a {
        margin-bottom: 10px;
    }
    #searchpopup .form-inline .form-control {
        margin: 0 auto;
    }
    searchpopup .advanceSearch a:first-child {
        margin-right: 50px;
        margin-bottom: 10px;
        display: inline-block;
    }
    #matchExercise .unstyled,
    .chkBx .unstyled {
        width: 80%;
    }
    .payment {
        padding: 0px 15px 55px;
    }
    .payment .bx {
        padding: 20px 15px;
    }
    .paypl-img {
        padding-top: 0;
        padding-right: 0;
        margin: 0 auto;
        display: block;
        padding-bottom: 15px;
    }
    .paymntMthdbx .radioSec {
        padding: 30px 0 10px 15px;
    }
    .crdtSec {
        margin: 25px 15px 30px 15px;
    }
    .cvv .fa-credit-card {
        bottom: 10px;
    }
    .checkOutBtn {
        margin: 15px;
    }
    .counselor-table .viewBtn {
        position: relative;
        right: 0px;
    }
    #booknow ul li {
        width: auto;
    }
    .top-section-counselor .profile-info {
        position: relative;
        top: auto;
    }
    .top-section-counselor .profile-photo {
        top: 0;
    }
    .top-section-counselor .profile-des {
        width: 224px;
        top: 0px;
    }
    .top-section-counselor .profile-status {
        width: 100%;
    }
    .top-section-counselor .dashboard-header {
        height: 188px;
    }
    .aboutus-content {
        padding-top: 15px;
    }
    .aboutSec .aboutus-content h1 {
        font-size: 30px;
        line-height: 30px;
    }
    .cancelMembership {
        float: none;
        text-decoration: underline;
        margin-top: 40px;
        display: block;
        margin-bottom: -30px;
    }
    .main-bg {
        background-size: cover !important;
        background-position: 50% 0% !important;
        min-height: auto;
    }
    .carousel-indicators #quote-carousel img {
        object-fit: cover;
        height: 100%;
    }
    .contact .contact-caption {
        position: relative;
        top: 20px;
    }
    .contact .contact-form {
        top: 30px;
    }
    .contact .space-medium {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .contact hr {
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .contact .pdt20 {
        padding-top: 6px;
    }
    .UsefulList .tipsTextSec h3 {
        margin-top: 5px;
    }
    .matchMember .myMatch img {
        width: 100%;
    }
}


/* small mobile :320px. */

@media only screen and (max-width:479px) {
    .stepwizard-row li:before {
        width: 17px;
    }
    .btn-cmn {
        min-width: 85px;
    }
    .create_account {
        margin-top: 10px;
    }
    .selectiontab {
        margin: 20px 0 0;
    }
    .welcometxt h2 {
        font-size: 32px;
        margin-bottom: 10px;
    }
    .welcometxt p {
        font-size: 16px;
        line-height: 22px;
    }
    #quote-carousel .carousel-control.left {
        left: 0;
        bottom: auto;
    }
    #quote-carousel .carousel-control.right {
        right: 0;
        bottom: auto;
    }
    #quote-carousel .item p.quote_txt {
        color: #fff;
        font-family: 'Freestyle Script';
        font-size: 22px;
        margin-bottom: 25px;
        line-height: 28px;
    }
    .quote_author {
        color: #fff;
        font-size: 14px;
    }
    .chat-window .leftSec strong {
        font-size: 16px;
    }
    .typeYourMesg .form-control {
        width: 65%;
    }
}

@media only screen and (min-width: 400px) and (max-width: 767px) {
    .myMatch {
        width: 350px;
        margin: 0 auto 15px;
    }
    .matchMember .myMatch img {
        width: 350px;
        min-width: 223px;
        min-height: 264px;
        object-fit: cover;
    }
    .searchCounselor .input-group {
        width: 100%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 759px) {
    /* viewport 320*760px all phone */
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    /* viewport 320*480px iPhone 4 */
    .inner-chat-section {
        height: 456px !important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 568px) {
    /* viewport 320*568px iPhone 5 */
}

@media only screen and (min-width: 360px) and (max-width: 640px) {
    /* viewport 360*640px Galaxy S 3/4 and Galaxy Note II */
}

@media only screen and (min-width: 481px) and (max-width: 667px) {
    /* viewport 384*640px Lumia 920 */
    .chat-window {
        height: auto;
    }
    .inner-chat-section {
        height: 261px !important;
        padding-bottom: 70px;
    }
}

@media only screen and (min-width: 413px) and (max-width: 480px) {
    .chat-window {
        height: auto;
    }
    .inner-chat-section {
        height: 118px !important;
    }
}

@media only screen and (max-width: 320px) {
    .chat-window .rightSec a {
        font-size: 18px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .inner-chat-section {
        height: 280px !important;
    }
}