@charset "utf-8";
/* CSS Document */
body {
	font-family: 'Open Sans', sans-serif;
	color: #2a2a2a;
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 24px;
	background: #fff;
	font-weight:400;
}
* {
    border: medium none;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{	
	font-family: 'Exo 2', sans-serif;
}
ul{
list-style-type:none;
}	
a{
  text-decoration:none;
  outline: none!important;
}
a:hover{
text-decoration:none;
outline:none;
} 
textarea{
resize:none;
}
.mar-top{
	margin-top:30px;
}
p {
	line-height: 26px;    
	font-size: 14px;
	font-weight:400;
	color:#535151;
}

/*#######################*/

.header{
	width:100%;
	position:absolute;
	z-index:999;
}
.no_padding {
	padding:0;	
}
.logo {
	width:100%;
	position:relative;
	margin:20px 0 0 10px;
}
.post_btn {
  float: right;
  margin-top: 24px;
}
.post_btn a {
	font-family: 'Exo 2', sans-serif;
	color:#fff;
	font-size:14px;
	text-transform:uppercase;
	background:#d9291d;
	padding: 6px 15px;
	border-radius:50px;
	display:inline-block;
	transition:all ease-in-out 0.3s;
}
.post_btn a:hover {
	color:#d9291d;
	background:#ffffff;
}
.top-menu {
  float: right;
  margin-bottom: 0;
  margin-top: 24px;
}
/*####################### MENU ########################*/

.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.navbar-brand {
  padding: 0;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar-nav {
  background-color: transparent !important;
  float:left !important;
}
.navbar {
  margin-bottom: 0;
  border:none;
  min-height:0;
}
.navbar-default .navbar-nav > li {
  font-size:15px;
  text-transform:uppercase;
}
.navbar-default .navbar-nav > li:last-child {
  border-right:none;
}
.navbar-default .navbar-nav > li > a {
	color: #ffffff;
	font-weight: 400;
	font-family: 'Exo 2', sans-serif;
	margin-right: 30px;
	padding: 8px 0;
	position: relative;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-ms-transition: all ease-in-out 0.3s;
}
.navbar-default .navbar-nav > li:last-child > a {
  padding-right: 0;
}
.navbar-default .navbar-nav > li > a::before {
  border: 2px solid #d9291d;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  position: absolute;
  width: 100%;
}
.navbar-default .navbar-nav > li > a:hover{
  background-color: transparent;
  color: #d9291d;
}
.navbar-default .navbar-nav > li > a:hover:before {
	opacity:1;
}
.navbar-default .navbar-nav > li > a:focus{
  background-color: transparent;
  color: #d9291d;
}
.navbar-default .navbar-nav > li > a:focus:before {
	opacity:1;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #d9291d;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:before, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	opacity:1;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #72a524;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus:before {
	opacity:1;
}
.dropdown-menu {
  background-color: rgba(39, 43, 46, 0.88)!important;
  padding:0;
}
.dropdown-menu > li > a {
  border-bottom: 1px solid #72a524;
  color: #ffffff !important;
  padding: 8px 0 8px 10px;
  width: 180px;
  font-size:14px;
}
.dropdown-menu > li:last-child > a {
  border-bottom: none;
}
.dropdown-menu > li > a:hover {
  color:#fff !important;
  background-color:#72a524!important;
}
.dropdown-menu > li > a:active {
  color:#fff !important;
  background-color:#72a524!important;
}
.dropdown-menu > li > a:focus {
  color:#fff !important;
  background-color:#72a524!important;
}
/*####################### ENd MENU ########################*/
.activity_btn {
	margin:20px 0 0;
	position:relative;
}
.activity_btn a {
	color:#fff;
	font-family: 'Exo 2', sans-serif;
	font-weight:400;
	text-transform:none;
	background: rgba(0,0,0,.25);
	padding:8px 20px 10px;
	display:inline-block;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.5s;
	-moz-transition: all ease-in-out 0.5s;
	-ms-transition: all ease-in-out 0.5s;
}
.activity_btn img {
	display:inline-block;
	margin-left:10px;
}
.dropdown_activity_menu {
  background: rgba(0, 0, 0, 0.45) none repeat scroll 0 0;
  bottom: -92px;
  right: 0;
  position: absolute;
  display:none;
}
.dropdown_activity_menu::before {
  border-bottom: 15px solid rgba(0, 0, 0, 0.59);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: "";
  position: absolute;
  right: 9px;
  top: -15px;
}
.dropdown_activity_menu ul {
	padding:0;
	margin:0;
	text-align:center;
}
.dropdown_activity_menu ul li {
	font-size:14px;
	font-family: 'Exo 2', sans-serif;
}
.dropdown_activity_menu ul li a {
  border-bottom: 1px solid rgba(217, 41, 29, 0.5);
  color: #ffffff;
  display: inline-block;
  padding: 6px 0;
  width:150px;
}
.dropdown_activity_menu ul li a:hover {
	background:#d9291d;
}
.dropdown_activity_menu ul li:last-child a {
  border-bottom: 0 none;
}
/*################################ CAMERA BANNER ##############################*/
.fluid_container {
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 0;
}
.camera_bar {
	z-index: 2;
}
.camera_thumbs {
	margin-top: -100px;
	position: relative;
	z-index: 1;
}
.camera_thumbs_cont {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
.camera_overlayer {
	opacity: .1;
}
.camera_thumbs_cont > div {
	display: none;
}
.camera_bar {
	display: none;
}
.camera_wrap {
	width: 100%;
	margin-bottom:0 !important;
}
.camera_commands {
	display: none;
}
.camera_prevThumbs, .camera_nextThumbs, .camera_prev, .camera_next, .camera_commands, .camera_thumbs_cont {
	background: none !important;
}
.camera_wrap .camera_pag .camera_pag_ul {
  margin-top: -50px !important;
  position: absolute;
  right: 50%;
}
.camera_wrap .camera_pag .camera_pag_ul li {
  background-color: #ffffff !important;
  border: 2px solid #20231b;
  border-radius: 50%;
  display: inline-block;
  float: none;
  height: 14px !important;
  margin: 0 4px !important;
  width: 14px !important;
}
.camera_wrap .camera_pag .camera_pag_ul li > span {
  height: 100% !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
}
.camera_wrap .camera_pag .camera_pag_ul li > span {
  border-radius: 0;
}
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent {
  background:#ffffff !important;
  border: 2px solid #d6291d !important;
}
.camera_caption {
  display: block;
  left: 0;
  margin: 0 auto;
  padding: 40px 10px 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 24%;
  width: 44% !important;
  z-index: 99;
  bottom: 19%;
}
.camera_caption > div {
  padding: 10px;
}
.camera_caption img {
	display:inline-block;
}
.camera_caption h2 {
	color: #d9291d;
	font-size: 112px;
	font-weight: 400;
	margin: 0;
	padding: 0;
	font-family: 'Anton', sans-serif;
	text-transform:uppercase;
}
.camera_caption h3 {
  color: #d9291d;
  font-size: 20px;
  font-weight: 800;
  text-transform:uppercase;
  margin: 0;
  padding: 0;
}
.camera_caption h4 {
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  text-transform:uppercase;
  margin: 15px 0 0;
  padding: 0;
}
.banner {
  position: relative;
  min-height: 400px;
}
/*################################ END CAMERA BANNER ##############################*/
.about_wrap {
	padding:50px 0;
	background:url(../images/about_bg.png) no-repeat center center;
}
.about_icon {
  margin-left: 30px;
}
.mar_side_gap {
  margin-left: 82px;
}
.about_img {
  height: 254px;
}
.about_icon a {
	color:#7a7a7a;
	font-family: 'Exo 2', sans-serif;
	font-weight:500;
	font-size:24px;
	display:inline-block;
	margin-top:18px;
}
.about_icon a:hover {
	color:#d9291d;
}
.mar_anchor_gap {
  margin-left: 50px;
}
.banner_form_sec {
  left: 50%;
  position: absolute;
  top: 62%;
  transform: translateX(-50%);
  width: 41%;
  z-index: 99999;
}
.rd-mailform1 {
  background: rgba(255, 255, 255, 0.18) none repeat scroll 0 0;
  border-radius: 15px;
  padding: 8px;
}
form {
  background: #fff none repeat scroll 0 0;
  border-radius: 15px;
  padding: 5px 0 5px 7px;
}
.form-group {
  margin-bottom: 0;
  border-right: 1px solid #ccc !important;
  padding: 0;
}
.no_border {
	border-right:0 none !important;	
}
label {
	display: inline-block;
	font-weight: 400;
	margin-bottom: 5px;
	max-width: 100%;
	color: #6d6d6d;
	font-family: 'Exo 2', sans-serif;
}
.form-control:focus {
  border-color: none;
  box-shadow: none;
  outline: 0 none;
}
.rd-mailform1 select {
    color: #6d6d6d;
    font-size: 13px;
	font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    line-height:1.2em;
    margin: 0;
    padding: 6px 22px 6px 0 !important;
    border: 0 none;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: "";
    background: url('../images/select-dd.png') no-repeat 100% 10px #fff!important; /* add your own arrow image */
    *background-image:none; /* turn bg image for IE7 */
    background: url('../images/select-dd.png') no-repeat 100% 0px #fff; /* fallback bg image*/
    background: url('../images/select-dd.png') no-repeat 100% 0px;
    background: url('../images/select-dd.png') no-repeat 100% 0px;
    background: url('../images/select-dd.png') no-repeat 100% 0px;
    background: url('../images/select-dd.png') no-repeat 100% 0px;
    background: url('../images/select-dd.png') no-repeat 100% 0px;
    -webkit-appearance: none; /* gets rid of default appearance in Webkit browsers*/
    -moz-appearance: none; /* Get rid of default appearance for older Firefox browsers */
    -ms-appearance: none; /* get rid of default appearance for IE8, 9 and 10*/
    appearance: none;
    outline: none;
	width:76%;
	display:inline-block;
}
.btn-send_1 {
  background: #d9291d none repeat scroll 0 0;
  border-radius: 5px;
  padding: 5px 16px;
}
.rd-mailform1 option {
  padding: 2px 0;
}
.footer {
	background:#090909;
	padding:25px 0;	
}
.footer_bottom {
	width:100%;
	text-align:center;	
	margin-top:5px;
}
.footer_bottom p {
  color: #707070;
  font-size: 12px;
  margin: 0;
  padding: 0;
  text-transform:uppercase;
}
.footer_bottom i {

}
.footer_bottom a {
	color:#601611;
	font-weight:500;
	font-size:13px;
}
.footer_bottom a:hover {
	color:#d9291d;
}
.mar_left_desk {
	margin-left:20px;	
	margin-right:20px;	
}